body {
	margin: 0 !important;
	background: ghostwhite;
}

#app {
	margin-top: 1em;
}

#app .segment {
	padding: 2em;
}

#search-segment {

}

#results-segment {
	margin-bottom: 3em;
}

#results-segment .segment:not(:first-child) {
	min-height: 450px;
}

#movies-list .list .item .description {
	margin-top: 0.5em;
	margin-left: 1em;
}

#movies-list .list a b {
	color: red;
}

#movie-segment {
	margin-bottom: 3em;
}

#btn-back-to-top {
	position: fixed;
	bottom: 2%;
	right: 1%;
	display: none;
}